* {
  font-family: "M PLUS Rounded 1c", Avenir Next, Helvetica, sans-serif;
  color: white;

}

body {
  background-image: url("jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-width: 2px 0 0 2px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
  width: 360px;
  border-radius: 1rem;
  padding: 1.2rem;
  padding-bottom: 0.6rem;
  margin: 100px auto;
  margin-bottom: 0;
}

#topcontainer {
  margin-top: 4rem;
}

.container {
  margin-top: 1.4rem;
}

.title {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.inputcontainer {
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 1.4rem;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
}

#billTotalInput,
#tipInput {
  font-size: 1.2rem;
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  max-width: 100%;
  width: 100%;
  color: rgba(255, 255, 255, 1);
}

.buttoncontainer {
  border: 2px solid rgba(255, 255, 255, 1);
  display: grid;
  place-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.buttoncontainer:hover {
  background: rgba(255, 255, 255, 1);
}

.buttoncontainer:active {
  transform: scale(0.95);
  transition: 0s linear;
}

.buttoncontainer:hover .buttontext {
  color: black;
}

.splitbutton {
  background: none;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  display: grid;
  place-items: center;
}

.controls {
  display: flex;
  align-items: center;
}

.splitamount {
  font-size: 1.6rem;
  margin: 0.8rem;
}

#bottomcontainer {
  display: flex;
  justify-content: space-between;
}

.totalcontainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.total {
  font-size: 2rem;
}

.authorName {
  font-size: 1.2rem;
  font-weight: bold;
  width: 200px;
  padding: 2px;
  margin: 100px auto;
  font-size: 0.8rem;
  font-weight: bold;
  width: 200px;
  padding: 2px;
  margin: 50px auto;
}

/* logo */

.logo-container {
  width: 100%;
  margin-bottom: -50px;
  display: flex;
  justify-content: center;
}

#logo {
  width: 100px;
  height: 100px;
  transition: 0.5s ease-in-out;
}

#logo:hover {
  transform: scale(1.1);
}

::selection {
  color: black;
  background: white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background: #444971;
}

::-webkit-scrollbar-thumb:hover {
  background: #353959;
}